# In order to install these dependencies run: pip or pip3 install -r requirements.txt

numpy
pandas
scipy
matplotlib
lxml   # For XML parsing
xmltodict
sqlalchemy
requests
scikit-learn
pulp

# auto-sklearn This package is more challenging to install and has issues

# These imports are coming from template project (some of them will be relevant)
# Flask
# plotly
# psycopg2-binary 
# country_converter
# python-gnupg