# In order to install these dependencies run: pip or pip3 install -r requirements.txt

plotly
numpy
pandas
scipy
matplotlib
lxml   # For XML parsing
xmltodict
sqlalchemy
requests
scikit-learn
pulp
python-gnupg
psycopg2-binary 
country_converter
streamlit
python-dotenv
fmpsdk

# auto-sklearn This package is more challenging to install and has issues

